.body {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.header {
  background-color: #222222;
}
.content {
  width: 1142px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}
// .header__control {
//     // display: flex;
//     // justify-content: space-between;
// }
.header__logo {
  margin: 0 34px 0 0;
}
.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}
.header__person-link {
  margin: 0 34px 0 0;
}
// .header__basket-link {
// }
.header-navigation {
  display: none;
}
// Brand
.brand {
  display: flex;

  &__title-wrapper {
    background-color: #f1e4e6;
    display: flex;
    align-items: center;
    padding: 0 0 0 91px;
    flex-grow: 1;
  }

  &__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
  }
}

